### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [74]:
purchase_data.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [75]:
# Count the number of unique usernames
num_players = purchase_data['SN'].nunique()
# Put it into a series, so we can display the data in a tidy dataframe
num_players = pd.Series(data=num_players)

In [76]:
num_players_df = pd.DataFrame(num_players, columns=["Total Players"])
num_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
# Basic Calculations
num_unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Purchase ID'].nunique()
total_rev = purchase_data['Price'].sum()
print(num_unique_items, avg_price, num_purchases, total_rev)

183 3.050987179487176 780 2379.77

In [87]:
# Reformat to look nicer
avg_price = "${:.2f}".format(avg_price)
total_rev = "${:,.2f}".format(total_rev)

In [88]:
# Create a dict to store the analysis results
analysis_data = {'Number of unique items': num_unique_items, 
                 'Average Price': avg_price, 
                 'Number of total purchases': num_purchases, 
                 'Total Revenue': total_rev  
}

In [89]:
# Create a df using the data to display analysis
purchase_analysis =  pd.DataFrame(analysis_data, index=[0])
purchase_analysis

,Number of unique items,Average Price,Number of total purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [90]:
# First let's look at the gender data to see what options exist/how many of each, for unique users
purchase_data.groupby('Gender')['SN'].nunique()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [91]:
# Capture the series then use that to call values to create percentages
genders = purchase_data.groupby('Gender')['SN'].nunique()
male_count = genders['Male']
female_count = genders['Female']
other_gen_count = genders['Other / Non-Disclosed']

total_genders = male_count + female_count + other_gen_count

In [92]:
# Create percentages
male_pct =  (male_count / total_genders) * 100
female_pct = (female_count / total_genders) * 100
other_gen_pct = (other_gen_count / total_genders) * 100

male_pct = "{0:.2f}%".format(male_pct)
female_pct = "{0:.2f}%".format(female_pct)
other_gen_pct = "{0:.2f}%".format(other_gen_pct)

print(male_pct, female_pct, other_gen_pct)

84.03% 14.06% 1.91%

In [93]:
# Create dataframe to display gender breakdown
# gender_analysis = {
#     'Number Male Buyers': male_count,
#     'Percent Male Buyers': male_pct,
#     'Number Female Buyers': female_count,
#     'Percent Female Buyers': female_pct,
#     'Number Other / Non-disclosed gendered Buyers': other_gen_count,
#     'Percent Other / Non-disclosed Buyers': other_gen_pct
# }

gender_analysis = {
    '': ['Male', 'Female', 'Other / Non-disclosed Buyers'],
    'Total Count': [male_count, female_count, other_gen_count],
    'Percentage of Players': [male_pct, female_pct, other_gen_pct]
}

gender_df =  pd.DataFrame(gender_analysis)
gender_df.set_index('')

                              Total Count Percentage of Players

Male                                  484                84.03%
Female                                 81                14.06%
Other / Non-disclosed Buyers           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
gender_purchases = pd.DataFrame()
gender_purchases['Purchase Count'] = purchase_data.groupby('Gender')['Purchase ID'].nunique()
gender_purchases['Average Purchase Price'] = round(purchase_data.groupby('Gender')['Price'].mean(), 2).map("${:.2f}".format)
gender_purchases['Total Purchase Value'] = purchase_data.groupby('Gender')['Price'].sum().map("${:,.2f}".format)
gender_purchases['Avg Total Purchase per Person'] = round((purchase_data.groupby('Gender')['Price'].sum() / purchase_data.groupby('Gender')['SN'].nunique()), 2).map("${:.2f}".format)
gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame